.navbar-button {
    display: flex;
    color: aliceblue;
    background: #203464;
    font-size: 16px;
    float: right;
}

.navbar-div .navbar-button:hover {
    background-color: #254482 !important;
    color: aliceblue !important;
}

.navbar-text {
    background: #203464;
}

.navbar {
    background: #10243c;
    color: aliceblue;
    font-size: 16px;
}

.navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

